<div class="main-addAddres">
    <form class="form-signin mt-4" [formGroup]="addAddresForm" nz-form (ngSubmit)="onAddAddres()">
        <div nz-row nzGutter="16" nzJustify="space-between">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter valid first Street!">
                        <nz-input-group>
                            <input nz-input formControlName="street" placeholder="Street">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter valid last City!">
                        <nz-input-group>
                            <input nz-input formControlName="city" placeholder="City">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="16" nzJustify="space-between">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter valid first State!">
                        <nz-input-group>
                            <input nz-input formControlName="state" placeholder="State">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please enter valid last Zip!">
                        <nz-input-group>
                            <input nz-input formControlName="zip" placeholder="Zip">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter valid last Fuel Type!">
                <nz-select nzShowSearch nzAllowClear formControlName="feultype" nzPlaceHolder="Fuel Type">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter valid last Fuel Type!">
                <nz-select nzShowSearch nzAllowClear formControlName="noOfTank" (ngModelChange)="addTanks(f.noOfTank.value)" nzPlaceHolder="Select No. of Tanks">
                    <nz-option *ngFor="let tank of noOfTank" [nzLabel]="tank" [nzValue]="tank"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item formArrayName="multipetank" *ngFor="let item of getCourses(addAddresForm); let i = index;">
            <nz-form-control nzErrorTip="Please enter valid last Fuel Type!" [formGroupName]="i">
                <nz-select nzShowSearch nzAllowClear formControlName="tanksize" nzPlaceHolder="Tank Size">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin" nzAlign="middle">
            <div nz-col [nzSpan]="12">
                <button nz-button class="login-form-button login-form-margin">Save</button>
            </div>
            <div nz-col [nzSpan]="12" class="text-right">
            </div>
        </div>
    </form>
</div>