<div class="previous-backgound" [ngStyle]="{'background': 'url(' + photo + ') no-repeat 0 0 / cover'}">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8">
                <div class="previes-list">
                    <div class="previous-form">
                        <div class="previous-heading">
                            <ul>
                                <li>
                                    <p>order id: <span>12345</span></p>
                                </li>
                                <li>
                                    <p><span>13/01/2021 07:04</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="previous-body">
                            <div class="delivery">
                                <span>Delivery Address 1:</span>
                                <p>Inhseh,Hssh,Hshsdh,12345</p>
                            </div>
                        </div>
                        <div class="previous-payment">
                            <div class="py-4" style="border-bottom: 1px solid #fff;">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <p>Payment Type: <span class="ml-2">Cash</span></p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <p>Payment Status: <span class="ml-2">Pending</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="status-bar">
                            <p class="mb-0">Order Notes:</p>
                            <p class="mb-0">Order Notes:</p>
                            <span>10-30-20 07:04</span>
                            <div class="w-100 py-3">
                                <nz-steps [nzCurrent]="current" nzSize="small">
                                    <nz-step nzTitle="Open"></nz-step>
                                    <nz-step nzTitle="Confirmed"></nz-step>
                                    <nz-step nzTitle="Delivered"></nz-step>
                                </nz-steps>
                            </div>
                        </div>
                        <div class="message-form">
                            <p class="heading">Message Us:</p>
                            <a>ORDER DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>