<div class="container-fluid">
    <div class="row">
        <div class="image-slider">
            <img src="../../../../assets/images/slider2.png">
            <div class="slider-paragraph">
                <div class="slider-para-heading">
                    <h2>Order fuel</h2>
                    <p>Donec iaculis nunc sit amet enim suscipit eleifend</p>
                </div>
                <div class="three-part mt-4 d-flex justify-content-around">
                    <div class="slider-box">
                        <img src="../../../../assets/images/slider-icons/c1.png" alt="">
                        <h3 class="my-3">Get cylinders</h3>
                        <a>order now</a>
                    </div>
                    <div class="slider-box">
                        <img src="../../../../assets/images/slider-icons/c2.png" alt="">
                        <h3 class="my-3">Get cylinders</h3>
                        <a>order now</a>
                    </div>
                    <div class="slider-box">
                        <img src="../../../../assets/images/slider-icons/c3.png" alt="">
                        <h3 class="my-3">Get cylinders</h3>
                        <a>order now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- body-section next design -->
<div class="container-fluid section-padding">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="oil-box d-flex align-items-center px-2 py-2">
                <div class="oil-icon">
                    <img src="../../../../assets/images/p1.png" alt="">
                </div>
                <div class="oil-para">
                    <h3>DONEC EST MASSA</h3>
                    <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="oil-box d-flex align-items-center px-2 py-2">
                <div class="oil-icon">
                    <img src="../../../../assets/images/p2.png" alt="">
                </div>
                <div class="oil-para">
                    <h3>NULLA A METUS</h3>
                    <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="oil-box d-flex align-items-center px-2 py-2">
                <div class="oil-icon">
                    <img src="../../../../assets/images/p3.png" alt="">
                </div>
                <div class="oil-para">
                    <h3>UT FINIBUS QUIS</h3>
                    <p>Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- download section  -->
<div class="download section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 section-heading text-center">
                <span class="section-heading">
                    <h3>DOWNLOAD APP</h3>
                    <span></span>
                </span>
                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="download-para">
                    <h3 class="mb-5">Vestibulum porttitor magna id</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a metus semper, dictum ipsum non, blandit felis. In hac habitasse platea dictumst. Pellentesque tortor urna, gravida ac eleifend et, pharetra ac lorem. Ut finibus quis
                        risus et mollis. Donec vehicula sed justo ac elementum. Sed rhoncus mi diam, in placerat purus vulputate sit amet. Ut interdum risus ut vehicula rhoncus. Praesent in lectus at urna molestie lobortis a ac ante.</p>
                    <p class="mt-4">Sed condimentum sollicitudin est, vitae eleifend tellus efficitur et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum interdum eros sed mi ultrices sagittis. Donec congue placerat
                        ligula ac ullamcorper. Vivamus vitae justo in nulla tempus luctus et eget leo.</p>
                    <ul class="download-button mt-5">
                        <li>
                            <a>
                                <div class="download-icons">
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                </div>
                                <div class="download-paragraph">
                                    <p class="mb-0">available on</p>
                                    <h5 class="mb-0">Google store</h5>
                                </div>
                            </a>
                        </li>
                        <li class="ml-2">
                            <a>
                                <div class="download-icons">
                                    <i class="fa fa-android" aria-hidden="true"></i>
                                </div>
                                <div class="download-paragraph">
                                    <p class="mb-0">available on</p>
                                    <h5 class="mb-0">Google store</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <img src="../../../../assets//images/Group.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- custom testimonial -->
<app-testimonial></app-testimonial>


<!-- <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of array">
        <h3>{{ index }}</h3>
    </div>
</nz-carousel> -->

<!-- home page footer -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <ul>
                    <li>
                        <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a><i class="fa fa-google" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <p>© Copyrights 2020 order fuel App All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>