<div class="slider-nav">
    <ul class="d-flex flex-column h-100 justify-content-between">
        <li [routerLink]="externalLinks?.home" routerLinkActive="active">
            <a>
                <img src="../../../../assets/images/side-nav/home.png" alt="">
                <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
            </a>
            <span>Home</span>
        </li>
        <li [routerLink]="externalLinks?.order" routerLinkActive="active">
            <a>
                <!-- <i class="fa fa-truck" aria-hidden="true"></i> -->
                <img src="../../../../assets/images/side-nav/truck.png" alt="">
            </a>
            <span>Order Fuel</span>
        </li>
        <li [routerLink]="externalLinks?.previous_order" routerLinkActive="active">
            <a>
                <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                <img src="../../../../assets/images/side-nav/verify.png" alt="">
            </a>
            <span>Previous Orders</span>
        </li>
        <li [routerLink]="externalLinks?.profile_list" routerLinkActive="active">
            <a>
                <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                <img src="../../../../assets/images/side-nav/note.png" alt="">
            </a>
            <span>Profile</span>
            <!-- <span>Get A Quote</span> -->
        </li>
        <li>
            <a>
                <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                <img src="../../../../assets/images/side-nav/boxes.png" alt="">
            </a>
            <span>Previous Quote</span>
        </li>
    </ul>
</div>
<div class="mobile-shadow">

</div>